<!DOCTYPE html>
<html lang="en">
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

	<meta charset="utf-8">
	<title>5 days Weather App, mango</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.css" media="screen">
	<link rel="stylesheet" href="/style/file.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="icon" href="favicon.png">
  </head>
  <body>

<!--- navbar -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
<i class="fa fa-cloud" aria-hidden="true"></i>
        Weather App</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li class="active"><a href="/">start</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li></li>
      </ul>
    </div>
  </div>
</nav>

<!--- end navbar -->



<!-- Page Content -->
<div class="container">

        <div class="row" id="content" >


    <div class="col-lg-12 content">
     <div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
<i class="fa fa-cloud" aria-hidden="true"></i>
                  Weather</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="POST" action="/app">


                        <div class="form-group">
                            <label class="col-md-4 control-label">Please Type a city</label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" name="city" required>
                            </div>
                        </div>


                          <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    Weather
                                </button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
     </div>








      </div>
</div>


<!-- End Page Content -->
</body>
<div id ="footer" class="panel-footer navbar navbar-default" >Just for assignment </div>


</html>
